<div
  class="hero min-h-screen"
  style="background-color: #c2c2c2 ;">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold text-secondary">Nihek Task</h1>
      <p class="mb-5">
        Organiza tus tareas pendientes con facilidad: <span class="text-secondary font-bold">crea, edita y gestiona</span> tus tareas en un solo lugar.
      </p>
      <button routerLink="/dashboard" class="btn btn-secondary">Dashboard</button>
    </div>
  </div>
</div>

