<div class="overflow-x-auto">
  <table class="table text-center">
    <!-- head -->
    <thead>
      <tr>
        <th>Realizado</th>
        <th>Titulo</th>
        <th>Importancia</th>
        <th>Fecha de creacion</th>
        <th>Fecha Expiración</th>
        <th>Ver detalles</th>
        <th>Eliminar Tarea</th>
      </tr>
    </thead>
    <tbody class="text-center">
      @for(task of tasks() ; track task.id){

      <tr class="text-1xl font-bold border-2">
        <th>
          <label>
            <input type="checkbox" class="checkbox" (change)="taskService.markAsCompleted(task.id)" [checked]="task.completed" />
          </label>
        </th>

        <td class="text-2xl">{{ task.title }}</td>
        <td [class]="task.importance | importance">
          <span>
            {{ task.importance }}
          </span>
        </td>

        <td>
          {{ task.createdAt | date : "MMM d, y - HH:mm" }}
        </td>

        <td>{{task.dueDate | date : "MMM d, y "}}</td>

        <td>
          <a
            class="btn btn-ghost font-bold text-secondary"
            [routerLink]="'/dashboard/create-task/' + task.id"
            >Detalles</a
          >
        </td>

        <td class="btn mt-2.5 btn-primary h-full" (click)="taskService.deleteTask(task.id).subscribe()">
            Eliminar
        </td>
      </tr>

      }
    </tbody>
  </table>
</div>
