<nav class="navbar justify-center bg-base-300">
  <a routerLink="/" class="btn btn-ghost text-lg">
    <img alt="Logo" src="assets/task_image.png" class="w-4" />
    Nihek Task
  </a>
</nav>

<nav class="flex justify-center bg-base-200">
  <ul class="menu menu-horizontal justify-center">
    <li>
      <a
        routerLink="/dashboard/create-task/new"
        routerLinkActive="btn btn-secondary"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fa-solid fa-shop text-secondary"></i>
        Crear Tarea
      </a>
    </li>
    <li>
      <a
        routerLink="/dashboard/list-task"
        routerLinkActive="btn btn-secondary"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="fa-solid fa-book-open text-secondary"></i>
        Ver Tareas
      </a>
    </li>
  </ul>
</nav>
